<form action="/create_resource_from_tab" method="post">

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @resource.category %>">
  </div>

  <input type="hidden" name="tab_id" value="<%= @tab.id %>">

  <div class="form-group">
    <label for="resource">
      Resource
    </label>

    <input type="text" id="resource" name="resource" class="form-control" value="<%= @resource.resource %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create resource
  </button>
</form>
