<h1>
  Add a new tab
</h1>


<hr>

<!-- Form tab start -->
<form action="/create_tab" method="post">
<!-- Form tab end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for num_of_tabs start -->
  <div class="form-group">
    <label for="num_of_tabs">
      Num of tabs
    </label>

    <!-- Input for num_of_tabs start -->
    <input type="text" id="num_of_tabs" name="num_of_tabs" class="form-control">
    <!-- Input for num_of_tabs end -->
  </div>
  <!-- Label and input for num_of_tabs end -->

  <!-- Label and input for topic_id start -->
  <div class="form-group">
    <label for="topic_id">
      Topic
    </label>

    <!-- Input for topic_id start -->
    <input type="text" id="topic_id" name="topic_id" class="form-control">
    <!-- Input for topic_id end -->
  </div>
  <!-- Label and input for topic_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create tab
  </button>
</form>

<hr>

<a href="/tabs">
  Go back
</a>
