<h1>
  Add a new resource
</h1>


<hr>

<form action="/create_resource" method="post">

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control">
  </div>

  <div class="form-group">
    <label for="tab_id">
      Tab
    </label>

    <%= select_tag(:tab_id, options_from_collection_for_select(Tab.all, :id, :title, @resource.tab_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="resource">
      Resource
    </label>

    <input type="text" id="resource" name="resource" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create resource
  </button>
</form>

<hr>

<a href="/resources">
  Go back
</a>
