<form action="/create_tab_from_topic" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @tab.title %>">
  </div>

  <div class="form-group">
    <label for="num_of_tabs">
      Num of tabs
    </label>

    <input type="text" id="num_of_tabs" name="num_of_tabs" class="form-control" value="<%= @tab.num_of_tabs %>">
  </div>

  <input type="hidden" name="topic_id" value="<%= @topic.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create tab
  </button>
</form>
