<h1>
  Add a new topic
</h1>


<hr>

<form action="/create_topic" method="post">

  <div class="form-group">
    <label for="csi_section">
      Csi section
    </label>

    <input type="text" id="csi_section" name="csi_section" class="form-control">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="engineering_discipline">
      Engineering discipline
    </label>

    <input type="text" id="engineering_discipline" name="engineering_discipline" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create topic
  </button>
</form>

<hr>

<a href="/topics">
  Go back
</a>
