<h1>
  Add a new topic
</h1>


<hr>

<!-- Form topic start -->
<form action="/create_topic" method="post">
<!-- Form topic end -->

  <!-- Label and input for csi_section start -->
  <div class="form-group">
    <label for="csi_section">
      Csi section
    </label>

    <!-- Input for csi_section start -->
    <input type="text" id="csi_section" name="csi_section" class="form-control">
    <!-- Input for csi_section end -->
  </div>
  <!-- Label and input for csi_section end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for engineering_discipline start -->
  <div class="form-group">
    <label for="engineering_discipline">
      Engineering discipline
    </label>

    <!-- Input for engineering_discipline start -->
    <input type="text" id="engineering_discipline" name="engineering_discipline" class="form-control">
    <!-- Input for engineering_discipline end -->
  </div>
  <!-- Label and input for engineering_discipline end -->

  <button class="btn btn-block btn-outline-secondary">
    Create topic
  </button>
</form>

<hr>

<a href="/topics">
  Go back
</a>
