<!-- Validation failure messages -->
<% if @text_component.present? %>
  <% if @text_component.errors.any? %>
    <% @text_component.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new text component
</h1>


<hr>

<!-- Form text_component start -->
<form action="/create_text_component" method="post">
<!-- Form text_component end -->

  <!-- Label and input for tab_id start -->
  <div class="form-group">
    <label for="tab_id">
      Tab
    </label>

    <!-- Input for tab_id start -->
    <input type="text" id="tab_id" name="tab_id" class="form-control" value="<%= @text_component.tab_id %>">
    <!-- Input for tab_id end -->
  </div>
  <!-- Label and input for tab_id end -->

  <!-- Label and input for header start -->
  <div class="form-group">
    <label for="header">
      Header
    </label>

    <!-- Input for header start -->
    <input type="text" id="header" name="header" class="form-control" value="<%= @text_component.header %>">
    <!-- Input for header end -->
  </div>
  <!-- Label and input for header end -->

  <!-- Label and input for content start -->
  <div class="form-group">
    <label for="content">
      Content
    </label>

    <!-- Input for content start -->
    <textarea id="content" name="content" class="form-control" rows="3"><%= @text_component.content %></textarea>
    <!-- Input for content end -->
  </div>
  <!-- Label and input for content end -->

  <button class="btn btn-block btn-outline-secondary">
    Create text component
  </button>
</form>

<hr>

<a href="/text_components">
  Go back
</a>
